.jumbotron-with-background{
    background-image: url("../img/bazar/agasalhos.jpg");
    -webkit-filter: grayscale(80%);
       -moz-filter: grayscale(80%);
         -o-filter: grayscale(80%);
        -ms-filter: grayscale(80%);
            filter: grayscale(80%); 
    opacity: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-jumbotron{
    font-weight: bolder; 
    padding-bottom: 30px;
}

.horarios{
    padding: 40px 0;
}

.horario-h1{
    color: #90EE90;
}

.como-doar{
    padding: 40px 0;
}

.como-doar-h1{
    color: #DB7093;
}

.o-que-precisamos{
    padding: 40px 0;
}

.carrosel{
    margin: 20px 0px;

}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }