/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/*#hero {
    position: relative;
    height: 90vh;
  }
  
  /*
  #hero {
    width: 100%;
    height: 90vh;
    background: url("../img/contato-bg.png");
    background-position: top;
    background-size: cover;
    filter: brightness(50%);
  }
  
  #hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 90vh;
    background: url("../img/contato-bg.png");
    background-position: top;
    background-size: cover;
    filter: brightness(50%);
  }
  
  #hero .container {
    position: relative;
  }
  
  #hero h1 {
    margin: 1.5em 0 1em;
    font-size: 96px;
    font-weight: 700;
    line-height: 56px;
    color: white;
  }
  
  #hero h2 {
    color: white;
    margin: 1em 0;
    font-size: 42px;
    font-style: italic;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 992px) {
    #hero {
      margin-bottom: 0;
      height: 100vh;
    }
    #hero .container {
      padding-bottom: 63px;
    }
    #hero h1 {
      font-size: 48px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 30px;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: auto;
    }
  }*/
  
  @media (max-width: 480px) {
    .display-4 {
      font-size: 35px;
      font-weight: 300;
      line-height: 1.2;
    }
  }
  
  body div.jumbotron-with-background.jumbotron-fluid{
    background-image: url("../img/contato-bg.png");
    -webkit-filter: grayscale(70%);
       -moz-filter: grayscale(80%);
         -o-filter: grayscale(80%);
        -ms-filter: grayscale(80%);
            filter: grayscale(80%); 
    opacity: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    padding-top: 12em;
  }
  
  .text-white {
    text-shadow: #000 2px 3px 2px !important;
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f1f7fd;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  /* bloco do título */
  .container .section-title{
    /*margin-left: 45px;*/
    text-align: center;
    padding-bottom: 30px;
  }
  .container .section-title h2{
    color: #77CC66; 
    font-size:32px;
    padding-bottom: 0;
    text-transform: uppercase;
  }

/*--------------------------------------------------------------
# Desenvolvedoras
--------------------------------------------------------------*/

.dev .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  background: #fff;
  border-radius: 5px;
}

.dev .member img {
  max-width: 60%;
  border-radius: 50%;
  margin: 0 0 30px 0;
}

.dev .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #777;
}

.dev .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #777;
}

.dev .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}


.dev .member .social {
  margin-top: 15px;
}

.dev .member .social a {
  color: #92ca92;
  transition: 0.3s;
}

.dev .member .social a:hover {
  color: #44a541;
}

.dev .member .social i {
  font-size: 25px;
  margin: 0 2px;
}
